extends layout
include library

block meta
	mixin meta('The Packaging Store in Hartland. Our clients consistently rank us as one of the best Mover services in The Greater Milwaukee, WI Area. The Packaging Store is located at #{address}. Call #{formatted_phone_number}')

block title
	mixin title('Art Shipping, Technology Equipment Shipping Industrial Crating, Small Moves')

block sidebarimage
	img(src='/img/pic_02.jpg')

block testi
	mixin testi('John MacIntyre', 'MCSP', 'I received the crated equipment in excellent order and was VERY impressed with the professional service...')

block prepend main
	h1 About The Packaging Store
	p The Handle With Care Packaging Store system is part of the Annex Brands' franchise network. Headquartered in San Diego, California, the brand began its service in 1980 with the first location in Denver, Colorado. Started as a response to a nationwide demand for residential mailbox and small parcel services, the emphasis was on providing packaging supplies, such as moving boxes to residential customers, in addition to a variety of shipping services such as UPS, FedEx and the USPS.
	p As the concept was franchised, several economic factors in society at-large were emerging as well to create the opportunity on which the retail packaging and shipping concept would thrive. Deregulation in the transportation industry opened the doors to competitive rates on Less Than Truckload (LTL) shipments, while an increasing nationwide demand for mailbox and small parcel shipping services fueled carriers such as United Parcel Service (UPS) and Federal Express (FedEx). Easier access to carriers, lower shipping rates and convenient retail locations provided the catalyst for fueling residential consumer demand.
	p Interestingly, the final market factor and probably the most influential one to give rise to the mail and parcel industry was born out of the Ecology or recycling movement which had come together during the late 1970's. Very simply, because the cardboard used in making shipping boxes became a direct target of the paper and wood recycling movement, the old practice of finding boxes behind your local grocery store became obsolete. Grocery stores now had a new profit center in collecting, bundling and cashing in their recycled boxes, in some cases creating a revenue stream in excess of $100,000 annually for a medium-sized store.
	p Now the consumer needed somewhere to purchase new, sturdy cardboard boxes for shipping small household goods, and onto the scene came a variety of mail and parcel franchise concepts to serve this new market. But the Handle With Care Packaging Store brand continued to stand out from the other service providers with a much greater focus on packaging materials including custom boxes and wooden crates, inland marine insurance, a wider variety of transportation alternatives and a unique culture for customer care.
	p Sticking with the roots of custom packaging and multi-carrier transportation options, the Handle With Care Packaging Store business model began to move toward a "service provider" concept, as opposed to a "product retailer" like many of the other mail and parcel companies. This gave rise to franchisee innovation in which larger "heavy-weight" locations were established, along with marketing plans to obtain referrals from a variety of clients having fragile, large, awkward-sized or valuable objects, what we call FLAV®.
	p The Handle With Care Packaging Store brand was originally founded on two key principles. One, ownership of the customer's goods as expressed in the saying "If you take it, you own it". Regardless of the monetary value of an item being shipped, it was assumed the franchisee would treat the item as if it were their own, and priceless. This creates a strong ethical standard for serving the customer's needs.
	p.big-italic Take ownership of the customer's goods as if they were your own and priceless in value.
	p The second founding principle is that of the art and science of packaging and shipping. Based on the endless variety of boxes and crates, interior cushioning materials, insurance levels and transportation options, all of these factors must come together to formulate the customer's solution. Handle With Care Packaging Store franchisees are extensively trained to make the optimum decisions in each of these factors and therefore, produce a higher quality standard for successful shipments and fewer damaged goods.
	p.big-italic Provide the highest quality experience for the customer using the vast knowledge and experience obtained through years of successful customer service.
	p The Handle With Care Packaging Store brand is known throughout the industry and by its customers for solving problems, providing expert advice, and for delivering a top-quality level of service. Handle With Care Packaging Store franchisees are known for being honest and reliable, as well as providing on-time and within budget packaging and shipping services.
	p So whether you have a need for art or antique shipping, a local residential move, equipment shipping, computer shipping, auction shipping services, furniture shipping, custom boxes, custom wooden crates, or distribution of an estate, the shipping company professionals at each Handle With Care Packaging Store are ready to provide you an experienced, comprehensive shipping solution to meet your needs and budget.
