extends layout
include library

block sidebarimage
  img(src='/img/pic_05.jpg')

block testi
  mixin testi('Elizabeth M', 'San Francisco, CA', 'Our cross-country shipment arrived right on time (and quickly) and everything was well-packed and in excellent condition...')

block main
  h1= title
  p= message
