//font

@font-face
  font-family 'futuralt-book'
  src url('/font/futuralt-book-webfont.eot')
  src url('/font/futuralt-book-webfont.eot?#iefix') format('embedded-opentype'), url('/font/futuralt-book-webfont.woff') format('woff'), url('/font/futuralt-book-webfont.ttf') format('truetype'), url('/font/futuralt-book-webfont.svg#futuralt-bookregular') format('svg')
  font-weight normal
  font-style normal

title_font = 'futuralt-book', sans-serif
body_font = Verdana, Arial, Helvetica, sans-serif

//colors
red = #FA0200

light_blue = #0F87C3
blue = #005bac
dark_blue = #00285B

main_col_width = 462px
right_col_width = 296px

white = #fff // shorten


//mixins
border_radius(radius)
  -webkit-border-radius radius
  -moz-border-radius radius
  border-radius radius

reg_gradent(color, invert=false)
  if invert
    l_color = darken(color, 10%)
    d_color = lighten(color, 90%)
  else
    l_color = lighten(color, 90%)
    d_color = darken(color, 10%)

  background-color color
  background-image -webkit-linear-gradient(top, l_color, d_color)
  background-image -moz-linear-gradient(top, l_color, d_color)
  background-image -ms-linear-gradient(top, l_color d_color)
  background-image "-webkit-gradient(linear, 0% 0%, 0% 100%, from(l_color), to(d_color)"
  background-image -o-linear-gradient(top, l_color, d_color)
  background-image linear-gradient(top, l_color, d_color)
