extends ../layout
include ../library

block sidebarimage
	img(src='/img/img-art-shipping.jpg')

block testi
	mixin testi('Denise Parri', 'Director of White Space, A Fine Art Gallery, New Haven, CT', "You are the 'worry free' transportation masters.")
		
block prepend main
	img(src="/img/banner_small.jpg")
	:markdown
		# The Fine Art of Art Shipping
		
		The Packaging Store of The Greater Milwaukee, WI Area  specializes in the packing, crating, and shipping of all types of art. Whether you're shipping priceless museum art or a single, sentimental piece - our custom services will ensure it will be packed, crated, and shipped safely to any location worldwide.  
		
		We understand the packaging and shipping requirements of museums, art galleries, and discerning private collectors. During the last 25 years, The Packaging Store has been privileged to handle a range of fine artwork pieces from works by Monet and Warhol to priceless museum exhibitions.
		
		### The Packaging Store provides art shippers the following services
		

		- Customized packing and crating for all types of art including framed, unframed, sculpture, glass and other types of media.
		- Declared value coverage up to any value based on your individual shipment needs.
		- Full service Pickup in The Greater Milwaukee, WI Area or other points in the U.S.
		- Transportation expertise that ensures your shipment arrives safely and on time.
		- International expertise that ensures your shipment meets complex customs regulations.
		- Destination services include standard and premium level white glove delivery to businesses and residences.
