extends ../layout
include ../library

block sidebarimage
  img(src='/img/img-industrial-crating.jpg')

block testi
  mixin testi('John MacIntyre', 'MCSP', 'I received the crated equipment in excellent order and was VERY impressed with the professional service.')

block prepend main
  img(src="/img/banner_small.jpg")
  :markdown
    # Industrial Crating to meet your needs

    Whether you need one crate or a thousand crates, The Packaging Store of The Greater Milwaukee, WI Area produces ISPM-15 certified industrial crates for any item of any size.

    The Packaging Store also provides customized domestic and international logistics solutions from The Greater Milwaukee, WI Area  or anywhere in the U.S. and to points beyond.

    ### The Packaging Store provides the following industrial crating services

    - Industrial heavy crating from lightweight sensitive items to equipment weighing thousands of pounds.
    - Containerization of large shipments including rigging and blocking & bracing.
    - Free initial design consultation & estimate
    - Onsite or offsite crating depending upon the scope of the project
    - International, ISPM-15 certified crates
    - Full service Pickup in The Greater Milwaukee, WI Area  or other points in the U.S.

    ### The Packaging Store provides the following domestic and export shipping services

    - International expertise that ensures your shipment is packed to regulation and paperwork in order to speed customs processing.
    - International full and less than container load.
    - Destination services that meet your budget including door to door and door to port.
    - Declared value coverage up to any value based on your individual shipment needs.
