extends ../layout
include ../library

block sidebarimage
  img(src='/img/img-packaging.jpg')

block testi
  mixin testi('Mike Kilpatrick', '', 'I just returned tonight from my trip to San Diego, where I set up the system you shipped. I have never seen a finer job of packing, even from the vendor when these systems shipped as new. I most certainly will call upon your company when the system is returned and will consider you in my future freight needs.')

block prepend main
  img(src="/img/banner_small.jpg")
  :markdown
    #Your Packaging Solution

    The Packaging Store of The Greater Milwaukee, WI Area  is an expert in packing and shipping large, fragile, awkward, and valuable items that need special care.  We provide packaging services that typically aren't available from mail and parcel centers, movers, or traditional shipping companies.

    Our packing experts will work with you and your product's specifications to provide solutions that ensure your product arrives safely, on budget and on time. The Packaging Store uses proprietary "Packaging Indexes" developed from over 25 years of real-world testing. We match techniques and materials to the fragility of the goods, customer specifications, declared value coverage requirements, and the shipping environment. We pack what others won't or can't.

    ### The Packaging Store provides the following packaging services.

    - Custom double wall corrugated containers, furniture wrap and palletizing based on your shipment requirements.
    - Made to order crates and pallets built specifically to fit the item and meet international wood regulations.
    - Foam-In-Place, specialized cushioning and blocking and bracing to secure your shipment.
    - Full service Pickup in The Greater Milwaukee, WI Area  or other points in the U.S.
    - Declared value coverage up to any value based on your individual shipment needs.
    - Destination services include standard and premium level white glove delivery to businesses and residences.
