extends ../layout
include ../library

block sidebarimage
	img(src='/img/img-shipping.jpg')

block testi
	mixin testi('Dan Galloway', 'CEO, CarriedAway Auctions, LLC', "You have definitely been a great asset to us and have consistently handled our oversized and specialty shipping needs wonderfully; I never recommend anyone else.")
		
block prepend main
	img(src="/img/banner_small.jpg")
	:markdown
		# Your Shipping Solution
		The Packaging Store of The Greater Milwaukee, WI Area  has earned a reputation for excellence for our shipping, crating and packaging services.  Whether you need to ensure safe delivery of your items down the street or around the world, we offer innovative solutions for your packaging and shipping challenges.  
		
		For more than 25 years, The Packaging Store has been the leading company for handling your fragile, large, awkward or valuable items, including furniture, equipment, artwork, machinery, computers, and antiques.  That's why business and residential customers alike have come to rely on The Packaging Store. One call does it all.

		### The Packaging Store provides the following services.

		- Domestic and International Air Freight for your time sensitive needs.
		- Less than Truckload (LTL) consolidation to save you money.
		- Full Truckload (FTL) for your larger shipments.
		- International Full and Less than Container Load for your ocean shipments.
		- Next Day, 2nd Day, Deferred, Ground and Time Definite services worldwide. 
		- Full service Pickup in The Greater Milwaukee, WI Area  or other points in the U.S.
		- Packing and crating for any item from one pound to thousands of pounds.
		- Declared value coverage up to any value based on your individual shipment needs.
		- Destination services include standard and premium level white glove delivery to businesses and residences.
