extends ../layout
include ../library

block meta
	mixin meta('The Packaging Store in Hartland. Our clients consistently rank us as one of the best Mover services in The Greater Milwaukee, WI Area. The Packaging Store is located at #{address}. Call #{formatted_phone_number}')

block title
	mixin title('Art Shipping, Technology Equipment Shipping Industrial Crating, Small Moves')

block sidebarimage
	img(src='/img/img-small-moves.jpg')

block testi
	mixin testi('Elizabeth M', 'San Francisco, CA', 'Our cross-country shipment arrived right on time (and quickly) and everything was well-packed and in excellent condition.')

		
block prepend main
	img(src="/img/banner_small.jpg")
	:markdown
		# Your small move specialist.
		
		Whether you are moving one piece of furniture or a house full, The Packaging Store of The Greater Milwaukee, WI Area  will save you time and money.  
		
		For 25 years The Packaging Store has been providing small move customers excellent service while saving them money.  How?  
		
		Most moving companies charge for a minimum weight, meaning small move customers pay for weight they don't have.  At The Packaging Store of The Greater Milwaukee, WI Area , we cater to small move customers, don't have minimums and offer a range of solutions to meet your budget.
		
		### The Packaging Store provides small move customers the following services
		
		- Full service Pickup in The Greater Milwaukee, WI Area  or other points in the U.S.
		- Same day, next day or guaranteed pickup day available.
		- Standard or expedited delivery options to meet your budget.
		- You pack it or we pack it, it is up to you.
		- Customized packing and crating for any fragile or sentimental possessions.
		- Declared value coverage up to any value based on your individual shipment needs.
		- Destination services include standard or premium level white glove home delivery based on your budget.
