extends ../layout
include ../library

block meta
	mixin meta('The Packaging Store in Hartland. Our clients consistently rank us as one of the best Mover services in The Greater Milwaukee, WI Area. The Packaging Store is located at #{address}. Call #{formatted_phone_number}')

block title
	mixin title('Art Shipping, Technology Equipment Shipping Industrial Crating, Small Moves')

block sidebarimage
	img(src='/img/img-tech-shipping.jpg')

block testi
	mixin testi('Antonio Elago', 'Earthlink', 'The staff at The Packaging Store are experts when it comes to packaging sensitive electronic equipment and really go the extra mile when it comes to customer service.')
		
block prepend main
	img(src="/img/banner_small.jpg")
	:markdown
		# Shipping Technology Equipment
		
		Whether you are shipping one computer server or an entire data center, The Packaging Store provides door to door packaging and shipping services from The Greater Milwaukee, WI Area  or anywhere in the U.S.  
		
		We can ship to the dock or provide full service delivery to the 10th floor at 10:00AM -- The Packaging Store has the customized solution to meet your business needs.
		
		
		### The Packaging Store provides the following services

		- Full service Pickup in The Greater Milwaukee, WI Area  or other points in the U.S.
		- Packing and crating for any item from one pound to thousands of pounds.
		- Transportation expertise that ensures your shipment arrives safely and on time.
		- Next Day, 2nd Day, Deferred, Ground and Time Definite services worldwide.
		- International expertise that ensures your shipment meets complex customs regulations.
		- Declared value coverage up to any value based on your individual shipment needs.
		- Destination services to the dock or full unpacking and debris removal.
